<!-- ////////HEADER/////// -->
<header id="header">
  <div class="container">
    <nav class="nav">
      <!-- ////Header MENU//// -->
      <include src="./partials/header/nav-menu.html"></include>
      <!-- ////Header INFO//// -->
      <include src="./partials/header/nav-info.html"></include>
      <!-- ////Header ACCOUNT//// -->
      <include src="./partials/header/nav-account.html"></include>
      <!-- ////Header LIKE//// -->
      <include src="./partials/header/nav-like.html"></include>
      <!-- ////Header FIND//// -->
      <include src="./partials/header/nav-find.html"></include>
      <!-- ////Header BASKET//// -->
      <include src="./partials/header/nav-basket.html"></include>
    </nav>
    <div class="head">
      <!-- ////Header LOGO//// -->
      <include src="./partials/header/logo.html"></include>
      <!-- ////Header PHONE//// -->
      <include src="./partials/header/header-phone.html"></include>
    </div>
  </div>
</header>
