<div class="nav__menu">
  <div class="">
    <div class="">
      <span>Меню</span>
      <a href="#">
        <img src="#" alt="Меню" />
      </a>
    </div>
    <div>
      <h2 card__header--title>Меню</h2>
      <button class="btn-close" type="button">Закрыть</button>
    </div>
    <div class="card__content">
      <ul>
        <li>
          <div>
            <a href="#">
              <span>Распродажа</span>
            </a>
            <span></span>
          </div>

          <div class="">
            <h5>Распродажа</h5>
            <ul>
              <li>
                <a href="#"><img src="#" alt="Ботинки" /></a>
              </li>
              <li>
                <a href="#"><img src="#" alt="Кросы" /></a>
              </li>
              <li>
                <a href="#"><img src="#" alt="Тапки" /></a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div>
            <a href="#">
              <span>Мужская обувь</span>
            </a>
            <span></span>
          </div>
        </li>
        <li>
          <div>
            <a href="#">
              <span>Все для обуви</span>
            </a>
            <span></span>
          </div>
        </li>
        <li>
          <div>
            <a href="#">
              <span>Бренды</span>
            </a>
            <span></span>
          </div>
        </li>
        <li>
          <div>
            <a href="#">
              <span>Блог</span>
            </a>
            <span></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
