<div class="nav__find">
  <div class="">
    <div class="">
      <span>Поиск</span>
      <a href="#">
        <img src="#" alt="Поиск" />
      </a>
    </div>
    <div class="">
      <h3 card__header--title>Поиск</h3>
      <button class="btn-close" type="button">Закрыть</button>
    </div>
    <div class="">
      <div class="search">
        <input
          type="text"
          name="search"
          value="Найди меня... :)"
          placeholder="Поиск"
        />
      </div>
      <div class="">
        <button type="button">btn</button>
      </div>
    </div>
  </div>
</div>
