<div class="nav__account">
  <div class="">
    <a href="#">
      <img src="#" alt="Аккаунт" />
      <span>Личный кабинет</span>
    </a>
    <div>
      <h3 card__header--title>Авторизация</h3>
      <button class="btn-close" type="button">Закрыть</button>
    </div>
    <div>
      <form action="#">
        <div class="">
          <input type="email" name="email" placeholder="Email..." id="" />
        </div>
        <div class="">
          <input type="password" name="password" placeholder="pas.." />
        </div>
        <div class="">
          <ul>
            <li>
              <a href="#">Забыли пароль</a>
            </li>
            <li>
              <a href="#">Регистрация</a>
            </li>
            <li>
              <button type="button">Выйти</button>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
