<div class="nav__info">
  <div class="">
    <div class="">
      <span>Инфо</span>
      <a href="#">
        <img src="#" alt="инфо" />
      </a>
    </div>
    <div class="nav__info-card">
      <div class="card">
        <div class="card__header">
          <h2 card__header--title>Информация</h2>
          <button class="btn-close" type="button">Закрыть</button>
        </div>
        <div class="card__content">
          <div class="language">
            <h3>Мова</h3>
            <button>Укр</button>
            <button>Рус</button>
          </div>
          <div>
            <h3>Информация</h3>
            <ul>
              <li><a href="#">Оплата заказа</a></li>
              <li><a href="#">Доставка товара</a></li>
              <li><a href="#">Политика конфиденциальности</a></li>
              <li><a href="#">Пользщвательское соглашение</a></li>
              <li><a href="#">Гарантии и возврат</a></li>
              <li><a href="#">Размерная сетка</a></li>
            </ul>
          </div>
          <div class="">
            <h3>Время работы</h3>
            <h4>Интернет Магазин</h4>
            <span> ПН-ПТ с 10:00 до 20:00</span>
            <span> СБ-ВС Принимаем заказы на сайте</span>
            <h4>Розничные магазины</h4>
            <span>Ежедневно с 10:00 до 18:00</span>
          </div>
          <div class="">
            <h3>Наш адресс</h3>
            <p>Украина, Харьков, ул.Зябкина 45а</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
