// Color map
$colors: (
    primary: #ffffff,
    black: #000000,
    footer-before-line: grey,
    footer-btn-border-top :#5a7ad9,
    footer-btn-border-top-2:#d4be16,
    footer-rights-bg:#f9f7f4,
    footer-green-text:#16950f,
    footer-text-line:#ec7437,
    footer-rights-text:#212121,
    
    // secondary: #1ab798,
    // primary-text: #282528,
    // secondary-text: #cccbcc,
    // pramary-transparency: rgba(255, 255, 255, 0.502),
    // pseudo-element-line: #535b64,
    // quotes-element: #efefef,
    // heading-video: #222222,
    // primary-team: #0eb493,
    // btn-round-video: #0098cd,
    // // video-bg-color: #31d4e7,
    // // video-foto-play-bg-color: #2a2929,
    // // video-foto-line-color: #00adef,
    // // video-foto-line-next-color: #666666,
    // bg-icon-team: #000000,
    // foto-name: #062033,
    // // foto-professional-transparency: rgba(6, 32, 51, 0.561),
    // border-color-imeg: #c4c7c7,
    // contact-btn-bg-color: #31d4e7,
    // contact-btn-fb-color: #3b5997,
    // contact-btn-tw-color: #3ec2f3,
    // contact-btn-in-color: #007ab9,
    // contact-info-color: #bface2,
);

//media
$mobile-max-width-container: 320px;
$mobile-padding-container: 15px;
$tablet-max-width-container: 768px;
$tablet-padding-container: 30px;
$desktop-max-width-container: 1200px;
$desktop-padding-container: 40px;

// Font family
$primary-font-family: 'Montserrat';
$secondary-font-family: 'Kavoon';

// Font weight
$min-font-weight:200;
$regular-font-weight: 400;
$semibold-font-weight: 600;
$bold-i-font-weight: 700;

// Font size
$size-s: 13px;
$size-m: 14px;
$size-l: 16px;
$size-xl: 18px;
$size-xxl: 24px;
$size-xxxl: 28px;
// :root {
//     --blue: #007bff;
//     --indigo: #6610f2;
//     --purple: #6f42c1;
//     --pink: #e83e8c;
//     --red: #dc3545;
//     --orange: #fd7e14;
//     --yellow: #ffc107;
//     --green: #28a745;
//     --teal: #20c997;
//     --cyan: #17a2b8;
//     --white: #fff;
//     --gray: #6c757d;
//     --gray-dark: #343a40;
//     --primary: #007bff;
//     --secondary: #6c757d;
//     --success: #28a745;
//     --info: #17a2b8;
//     --warning: #ffc107;
//     --danger: #dc3545;
//     --light: #f8f9fa;
//     --dark: #343a40;
//     --breakpoint-xs: 0;
//     --breakpoint-sm: 576px;
//     --breakpoint-md: 768px;
//     --breakpoint-lg: 992px;
//     --breakpoint-xl: 1200px;
//     --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
//     --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// }