.collaps_links{
    display: inline-block;
    height: 48px;
    visibility: visible;
    width: 100%;
    border: none;
    border-top: 1px solid grey;


    // color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}
.collaps_links:focus ~ .dropdown-content,
.collaps_links:active ~ .dropdown-content,
.dropdown-content:hover{
    display: block;
}