.footer-rights-link{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    text-decoration: none;
}
.footer-rights-link:hover{
    cursor: pointer;
    color: rgb(58, 142, 44);;
    font-size: 16px;
    // border-bottom: 2px solid greenyellow;
    // padding-bottom: 1px;
}