<div class="footer-box about-us-menu">
  <button type="button" class="collaps_links active">
    <div class="footer-box-category">Про нас</div>
  </button>
  <div class="dropdown-content">
    <ul class="footer-box-list">
      <li class="footer-box-item">
        <a href="#" class="footer-box-link">Отзывы</a>
      </li>
      <li class="footer-box-item">
        <a href="#" class="footer-box-link">Новости</a>
      </li>
      <li class="footer-box-item">
        <a href="#" class="footer-box-link">Карьера</a>
      </li>
      <li class="footer-box-item">
        <a href="#" class="footer-box-link">Контакти</a>
      </li>
    </ul>
  </div>
</div>
