<div class="footer-box catalog-menu">
  <button type="button" class="footer-btn collaps_links active">
    <div class="footer-box-category">Каталог</div>
  </button>
  <div class="footer-dropdown-conten">
    <ul class="footer-box-list">
      <li class="footer-box-item">
        <a href="#" class="footer-box-link">Обувь</a>
      </li>
      <li class="footer-box-item">
        <a href="#" class="footer-box-link">Аксессуары</a>
      </li>
      <li class="footer-box-item">
        <a href="#" class="footer-box-link">Все для обуви</a>
      </li>
    </ul>
  </div>
</div>
