<footer id="footer" class="footer">
  <!-- ///////FOOTER////// -->
  <div class="container">
    <h2>Footer</h2>
    <!-- /////Блоки//// -->
    <div class="footer-menu">
      <!-- //блок1-CATALOG// -->
      <include src="./partials/footer/catalog.html"></include>
      <!-- //блок2-FOR-THE-BUYER// -->
      <include src="./partials/footer/for-the-buyer.html"></include>
      <!-- //блок3-ABOUT-US// -->
      <include src="./partials/footer/about-us.html"></include>
      <!-- //блок4-PAYMENT// -->
      <include src="./partials/footer/payment.html"></include>
      <!-- //блок5-OFFER// -->
      <!-- <include src="./partials/footer/networks.html"></include> -->
    </div>
    <div class="footer-box-networks">
      <include src="./partials/footer/networks.html"></include>
    </div>

    <!-- /////Права///// -->
  </div>
  <div class="footer-rights-bg">
    <div class="container">
      <include src="./partials/footer/rights.html"></include>
    </div>
  </div>
</footer>
