<div class="footer-box buyer-menu">
  <button type="button" class="footer-btn collaps_links active">
    <div class="footer-box-category">Для покупателя</div>
  </button>
  <div class="footer-dropdown-content">
    <ul class="footer-box-list">
      <li class="footer-box-item">
        <a href="#" class="footer-box-link">Доставка и оплата</a>
      </li>
      <li class="footer-box-item">
        <a href="#" class="footer-box-link">Бонусная программа</a>
      </li>
      <li class="footer-box-item">
        <a href="#" class="footer-box-link">Вопросы и ответы</a>
      </li>
      <li class="footer-box-item">
        <a href="#" class="footer-box-link">Гарантии</a>
      </li>
      <li class="footer-box-item">
        <a href="#" class="footer-box-link">Возврат</a>
      </li>
      <li class="footer-box-item">
        <a href="#" class="footer-box-link">Товары партнеров</a>
      </li>
    </ul>
  </div>
</div>
