<div class="">
  <div class="">
    <a href="#" target="_blank">Наше предложение</a>
  </div>
  <div class="">
    <div class="">
      <h4>Наше приложение</h4>
      <a href="#">
        <img src="#" alt="App Store" />
      </a>
      <a href="#">
        <img src="#" alt="Coogle Play" />
      </a>
    </div>
    <div class="">
      <h4>Социальные сети</h4>
      <div class="">
        <div class="">
          <div class="">
            <a href="#">
              <img src="#" alt="Facebook" />
            </a>
          </div>
          <div class="">
            <div class="">
              <span>223670</span>
              "подписчиков"
            </div>
            <div class="">
              <a href="#">
                <img src="#" alt="#" />
                <span>Следить</span>
              </a>
            </div>
          </div>
        </div>
        <div class="">
          <div class="">
            <a href="#">
              <img src="#" alt="Instagram" />
            </a>
          </div>
          <div class="">
            <div class="">
              <span>22580</span>
              "подписчиков"
            </div>
            <div class="">
              <a href="#">
                <img src="#" alt="" />
                <span>Следить</span>
              </a>
            </div>
          </div>
        </div>
        <div class="">
          <div class="">
            <a href="#">
              <img src="#" alt="Youtube" />
            </a>
          </div>
          <div class="">
            <div class="">
              <span>24721</span>
              "подписчиков"
            </div>
            <div class="">
              <a href="#">
                <img src="#" alt="" />
                <span>Следить</span>
              </a>
            </div>
          </div>
        </div>
        <div class="">
          <div class="">
            <a href="#">
              <img src="#" alt="Telegram" />
            </a>
          </div>
          <div class="">
            <div class="">
              <span>20234</span>
              "подптсчиков"
            </div>
            <div class="">
              <a href="#">
                <img src="#" alt="" />
                <span>Следить</span>
              </a>
            </div>
          </div>
        </div>
        <div class="">
          <div class="">
            <a href="#">
              <img src="#" alt="Facebook" />
            </a>
          </div>
          <div class="">
            <div class="">
              <span>223670</span>
              "подптсчиков"
            </div>
            <div class="">
              <a href="#">
                <img src="#" alt="" />
                <span>Следить</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
