<div class="social">
  <div class="social-bl">
    <div class="social-bl-icon" id="soc-youtube">
      <a href="#">
        <img src="./img/foto/youtube.png" alt="Youtube" />
      </a>
    </div>
    <!-- <div class="">
            <div class="">
              <span>223670</span>
              подписчиков
            </div>
            <div class="">
              <a href="#">
                <img src="#" alt="#" />
                <span>Следить</span>
              </a>
            </div>
          </div> -->
  </div>
  <div class="social-bl" id="soc-instagram">
    <div class="social-bl-icon">
      <a href="#">
        <img src="./img/foto/instagram.png" alt="Instagram" />
      </a>
    </div>
    <!-- <div class="social-bl-descr">
            <div class="social-bl-descr__name">
              <span>22580</span>
              подписчиков
            </div>
            <div class="social-bl-descr__watch">
              <a href="#">
                <img src="#" alt="" />
                <span>Следить</span>
              </a>
            </div>
          </div> -->
  </div>
  <div class="social-bl" id="soc-facebook">
    <div class="social-bl-icon">
      <a href="#">
        <img src="./img/foto/facebook.png" alt="Facebook" />
      </a>
    </div>
    <!-- <div class="">
            <div class="">
              <span>24721</span>
              подписчиков
            </div>
            <div class="">
              <a href="#">
                <img src="#" alt="" />
                <span>Следить</span>
              </a>
            </div>
          </div> -->
  </div>
  <div class="social-bl" id="soc-telegram">
    <div class="social-bl-icon">
      <a href="#">
        <!-- <svg class="icon" width="32px" height="32px">
          <use href="./img/icon/telegramm.svg">telegramm</use>
        </svg> -->
        <img src="./img/foto/telegramm.png" alt="telegramm" />
        <!-- <img src="./img/foto/dog.png" alt="telegramm" /> -->
      </a>
    </div>
    <!-- <div class="">
            <div class="">
              <span>20234</span>
              подписчиков
            </div>
            <div class="">
              <a href="#">
                <img src="#" alt="" />
                <span>Следить</span>
              </a>
            </div>
          </div> -->
  </div>
</div>
