<div class="filters">
  <!-- //1filter// -->
  <div class="">
    <div class="">
      <h3>Обувь</h3>
      <img src="#" alt="/\" />
    </div>
    <ul>
      <li>
        <a href="#">
          <span>Кросовки</span>
          <img src="#" alt=">" />
        </a>
      </li>
      <li>
        <a href="#">
          <span>Туфли</span>
          <img src="#" alt=">" />
        </a>
      </li>
      <li>
        <a href="#">
          <span>Ботинки</span>
          <img src="#" alt=">" />
        </a>
      </li>
      <li>
        <a href="#">
          <span>Полуботинки</span>
          <img src="#" alt=">" />
        </a>
      </li>
      <li>
        <a href="#">
          <span>Сандали</span>
          <img src="#" alt=">" />
        </a>
      </li>
    </ul>
  </div>
  <!-- //2filter// -->
  <div class="">
    <div class="">
      <h3>Бренд</h3>
      <img src="#" alt="/\" />
    </div>
    <div class="">
      <ul>
        <li>
          <a href="#"> "Nina ricci" </a>
        </li>
        <li>
          <a href="#"> "Nina ricci" </a>
        </li>
        <li>
          <a href="#"> "Nina ricci" </a>
        </li>

        <li>
          <a href="#"> "Nina ricci" </a>
        </li>

        <li>
          <a href="#"> "Nina ricci" </a>
        </li>

        <li>
          <a href="#"> "Nina ricci" </a>
        </li>

        <li>
          <a href="#"> "Nina ricci" </a>
        </li>

        <li>
          <a href="#"> "Nina ricci" </a>
        </li>
      </ul>
      <span>Показать еще 10</span>
    </div>
  </div>
  <!-- //3filter// -->
  <div class="">
    <h3>Размер</h3>
    <img src="#" alt="/\" />
  </div>
  <div class="">
    <ul>
      <li>
        <input type="checkbox" />
        <a href="#">40</a>
      </li>
      <li>
        <input type="checkbox" />
        <a href="#">41</a>
      </li>
      <li>
        <input type="checkbox" />
        <a href="#">42</a>
      </li>
      <li>
        <input type="checkbox" />
        <a href="#">43</a>
      </li>
      <li>
        <input type="checkbox" />
        <a href="#">44</a>
      </li>
    </ul>
  </div>
  <!-- //3filter// -->
  <div class="">
    <div class="">
      <h3>Размер</h3>
      <img src="#" alt="/\" />
    </div>
    <div class="">
      <div class="">
        <img src="#" alt="slider" />
      </div>
    </div>
  </div>
  <div class="">
    <!-- //4filter// -->
    <div class="">
      <h3>Сезон</h3>
      <img src="#" alt="/\" />
    </div>
    <ul>
      <li>
        <input type="checkbox" />
        <a href="#">Зима</a>
      </li>
      <li>
        <input type="checkbox" />
        <a href="#">Весна</a>
      </li>

      <li>
        <input type="checkbox" />
        <a href="#">Лето</a>
      </li>
      <li>
        <input type="checkbox" />
        <a href="#">Осень</a>
      </li>
    </ul>
    <div class=""></div>
  </div>
  <div class="">
    <div class="">
      <h3>Полезное</h3>
      <img src="#" alt="/\" />
    </div>
    <div class="">
      <ul>
        <li>
          <a href="#">Как определить размер</a>
        </li>
        <li>
          <a href="#">Как красиво завязать шнурки</a>
        </li>
        <li>
          <a href="#">Уход за обувью</a>
        </li>
      </ul>
    </div>
  </div>
</div>
