<main id="main">
  <!-- //Section card products// -->
  <section class="">
    <div class="categories">
      <h2>Мужская обувь</h2>
      <!-- //Card products// -->
      <div class="products">
        <include src="./partials/main/products-card.html"></include>
        <include src="./partials/main/products-card.html"></include>
        <include src="./partials/main/products-card.html"></include>
        <include src="./partials/main/products-card.html"></include>
        <include src="./partials/main/products-card.html"></include>
        <include src="./partials/main/products-card.html"></include>
        <include src="./partials/main/products-card.html"></include>
      </div>
    </div>
    <!-- //card-details// -->
    <div class="">
      <include src="./partials/main/products-card-details.html"></include>
    </div>
  </section>
  <!-- //Section card filter// -->
  <section class="">
    <p>Filter</p>
    <include src="./partials/main/filters.html"></include>
  </section>
</main>
