<div class="">
  <span class="stiker-discount">30%</span>
  <div class="overlay-header">
    <div class="">
      <p>EU</p>
      <ul>
        <li>40</li>
        <li>41</li>
        <li>42</li>
        <li>43</li>
        <li>44</li>
      </ul>
      <button>
        <img src="#" alt="like" />
      </button>
    </div>
    <div class="">
      <img src="#" alt="ADD" />
      <span>Добавить в корзину</span>
    </div>
  </div>
  <div class="">
    <div class="">
      <a href="#">
        <img src="#" alt="" />
        Кеды
      </a>
    </div>
    <div class="">
      <div class="">
        <a href="#">Полу кеды MARVEL</a>
        <p>Brand</p>
      </div>
    </div>
    <div class="">
      <span>4637</span>
      <span>
        "1278"
        <span>грн.</span>
      </span>
    </div>
  </div>
  <div class=""></div>
</div>
