<div class="categories-card">
  <h2>
    "Кеди Nina ricci"
    <span>(WV466D-012)</span>
    ", Цвет синий"
  </h2>
  <!-- //card section// -->
  <div class="">
    <!-- 1card -->
    <div class="">
      <div class="">
        <div class="">
          <div class="">
            <img src="#" alt="Слайд-фото" />
            <img src="#" alt="Слайд-фото" />
            <img src="#" alt="Слайд-фото" />
          </div>
          <div class="">
            <img src="#" alt="Кед" />
          </div>
          <img src="#" alt="Лого-бренд" />
          <div class=""></div>
        </div>
        <div class=""></div>
      </div>
      <div class="">
        <div class="">
          <img src="#" alt="icon" />
          <strong>7</strong>
          "людей купили этот товар"
        </div>
        <div class="">
          <img src="#" alt="icon" />
          <strong>5</strong>
          "людей пересматривают сейчас"
        </div>
        <div class="">
          <img src="#" alt="icon" />
          <strong>16</strong>
          "людей добавили в обраноое"
        </div>
      </div>
    </div>
    <!-- 2card -->
    <div class="">
      <div class="">
        <div class="">
          <p>Доступные размеры:</p>
          <div class="">
            <p>EU</p>
            <label for="#">
              "40"
              <input type="radio" />
            </label>
            <label for="#">
              "41"
              <input type="radio" />
            </label>
            <label for="#">
              "42"
              <input type="radio" />
            </label>
            <label for="#">
              "43"
              <input type="radio" />
            </label>
            <label for="#">
              "44"
              <input type="radio" />
            </label>
          </div>
        </div>
        <div class="">
          <a href="#">
            <img src="#" alt="icon" />
            <span>Таблица розмеров</span>
          </a>
          <a href="#">
            <img src="#" alt="icon" />
            <span>Наличие товара</span>
          </a>
        </div>
        <div class="">
          <div class="">
            <span> 2675 </span>
            <span>грн.</span>
          </div>
          <div class="">
            <span>1250</span>
            <span>грн.</span>
          </div>
          <div class="">
            <span>-40%</span>
          </div>
        </div>
        <div class="">
          <button>
            <img src="#" alt="icon" />
            <span>Добавить в корзину</span>
          </button>
          <button>
            <img src="#" alt="icon" />
            <span>Добавить в обраное</span>
          </button>
        </div>
        <div class="">
          <input type="text" placeholder="Контактный телефон" />
          <button>
            <span>Купить в 1 клик</span>
          </button>
        </div>
        <div class="">
          <ul>
            <li>
              <span>Бренд:</span>
              <a href="#">RICCI</a>
            </li>
            <li>
              <span>Материал:</span>
              <span>Кожа</span>
              \
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 3card -->
    <div class="">
      <div class="">
        <ul>
          <li>
            <div class="">
              <img src="#" alt="icon" />
              <span>Доставка новой почтой</span>
            </div>
            <p>Описание доставки новой почты.........</p>
            <a href="#">Подробнее о доставке</a>
          </li>
          <li>
            <div class="">
              <img src="#" alt="icon" />
              <span>Оплата</span>
            </div>
            <p>Описание условий оплаты.........</p>
            <p>
              Картой Visa, MasterCard через мобильный интеонет(курьерская
              доставка)
            </p>
            <p>Наложный платеж</p>
            <p>Онлайн оплата</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
